
.support img{
  width: 100%;
}

.support h2{
  margin-bottom: 0px;
}

.support-text{
  padding: 20px 15px;
}
.support-text p{
  line-height: 30px;
  margin-bottom: 30px;
}


.support-text span{
  font-weight: bold;
  font-size: 20px;
}








